@import "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap";

*,
:before,
:after {
	box-sizing: border-box
}

.wrap {
	width: 100%;
	padding: 3.5em 0
}

.grey {
	background: #ECF0F1;
	padding: 100px 0 150px
}

a {
	color: #8f0909
}

a:hover {
	color: #860c0c
}

a,
img,
.overlay,
input,
textarea,
.plan-wrap p,
.filters .filter {
	-webkit-transition: all .12s linear;
	-moz-transition: all .12s linear;
	-o-transition: all .12s linear;
	transition: all .12s linear
}

body {
	font-size: 1em;
	line-height: 1.7em;
	color: #000;
	font-weight: 400;
	background: #000
}

body,
input,
textarea {
	font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
	font-weight: 500
}

h1,
h2,
h3,
h4,
h5,
h6,
.navigation a,
.btn,
.filters .filter {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif
}

h1,
h2,
h3,
h4,
h5,
h6 {
	position: relative;
	margin: 1em 0 1.4em;
	color: #000
}

h1,
h2 {
	text-transform: uppercase;
	color: #000
}

h1 {
	font-size: 3em;
	line-height: 1.2em;
	color: #000
}

h2 {
	font-size: 2.8em;
	line-height: .9em;
	font-weight: 600;
	color: #8c0606
}

h3 {
	font-size: 1.8em;
	line-height: .9em
}

h4,
h5,
h6 {
	font-size: 1.125em;
	line-height: .5em
}

blockquote {
	line-height: 1.2em;
	display: inline-block;
	margin: 1.3em 0;
	padding: 2px 20px 0;
	border-left: 3px solid #e8e8e8
}

blockquote p {
	margin-bottom: 0 !important
}

.pleft-25 {
	padding-left: 25px
}

.pright-25 {
	padding-right: 25px
}

.curveUpColor,
.curveDownColor {
	fill: #820f0f;
	stroke: #000;
	position: absolute;
	left: 0;
	z-index: 1
}

.curveUpColor {
	margin-top: -100px
}

.curveDownColor {
	margin-bottom: -100px
}

.curveMapUp {
	margin-top: 52px
}

.curveMapDown {
	margin-top: -238px
}

.curveGrey {
	fill: #ECF0F1;
	stroke: #ECF0F1
}

.btn {
	position: relative;
	display: inline-block;
	margin: .8em 0;
	padding: .5em 1.6em;
	color: #fff;
	font-size: .8em;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	background: #8e0505
}

.btn:hover,
.btn:focus,
.btn-current {
	color: #fff;
	background: #000
}

.btn:hover,
.social-set a:hover,
.team-social a i:hover,
.header-carousel .owl-buttons .owl-prev:hover,
.header-carousel .owl-buttons .owl-next:hover {
	-webkit-animation: rubberBand .8s 1;
	-moz-animation: rubberBand .8s 1;
	-o-animation: rubberBand .8s 1;
	animation: rubberBand .8s 1
}

@-webkit-keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}

	30% {
		-webkit-transform: scale3d(1.15, 0.9, 1);
		transform: scale3d(1.15, 0.9, 1)
	}

	40% {
		-webkit-transform: scale3d(0.8, 1.15, 1);
		transform: scale3d(0.8, 1.15, 1)
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1)
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

@keyframes rubberBand {
	0% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}

	30% {
		-webkit-transform: scale3d(1.15, 0.9, 1);
		transform: scale3d(1.15, 0.9, 1)
	}

	40% {
		-webkit-transform: scale3d(0.8, 1.15, 1);
		transform: scale3d(0.8, 1.15, 1)
	}

	50% {
		-webkit-transform: scale3d(1.15, 0.85, 1);
		transform: scale3d(1.15, 0.85, 1)
	}

	65% {
		-webkit-transform: scale3d(.95, 1.05, 1);
		transform: scale3d(.95, 1.05, 1)
	}

	75% {
		-webkit-transform: scale3d(1.05, .95, 1);
		transform: scale3d(1.05, .95, 1)
	}

	100% {
		-webkit-transform: scale3d(1, 1, 1);
		transform: scale3d(1, 1, 1)
	}
}

.rubberBand {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand
}

.btn-big {
	font-size: 1.4em;
	padding: .65em 2.2em
}

.btn-price {
	width: 80%;
	margin: 1.5em 0 1.8em;
	padding: .5em;
	letter-spacing: 2px
}

.btn-disabled,
.btn-disabled:hover,
.btn-disabled:focus {
	cursor: default;
	color: #bbb;
	background: #e6e6e6
}

.btn-ghost {
	margin: 10px;
	color: #fff;
	border: 2px solid #fff;
	background: transparent
}

.btn-ghost:hover {
	border-color: transparent;
	background-color: #850707
}

.btn-ghost-dark {
	border-color: #a01111;
	color: #bc1a1a
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif
}

header {
	z-index: 999;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 15px 200px;
	transition: .5s ease
}

header .brand {
	color: #fff;
	font-size: 1.5em;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none
}

header .navigation {
	position: relative
}

.finallogorb {
	border-radius: 50%;
	width: 25%
}

header .navigation .navigation-items a {
	position: relative;
	color: #fff;
	font-size: small;
	text-decoration: none;
	margin-left: 5px;
	padding: 2px;
	transition: .3s ease;
	font-weight: 600
}

header .navigation .navigation-items a:before {
	content: '';
	position: absolute;
	background: red;
	width: 0;
	height: 3px;
	bottom: 0;
	left: 0;
	transition: .3s ease
}

header .navigation .navigation-items a:hover:before {
	width: 100%
}

section {
	padding: 100px 200px
}

.redbug {
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	flex-direction: column
}

.redbug:before {
	z-index: 777;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0
}

.redbug .content {
	z-index: 888;
	color: #fff;
	width: 70%;
	margin-top: 50px;
	display: none
}

.redbug .content.active {
	display: block
}

.redbug .content h1 {
	font-size: 4em;
	font-weight: 900;
	text-transform: uppercase;
	letter-spacing: 5px;
	line-height: 75px;
	margin-bottom: 40px;
	color: red
}

.redbug .content h1 span {
	font-size: 1.2em;
	font-weight: 600;
	color: #fff
}

.redbug .content p {
	margin-bottom: 65px
}

.redbug .content a {
	background: #fff;
	padding: 15px 35px;
	color: #ac1616;
	font-size: 1.1em;
	font-weight: 500;
	text-decoration: none;
	border-radius: 2px
}

.redbug .media-icons {
	z-index: 888;
	position: absolute;
	right: 30px;
	display: flex;
	flex-direction: column;
	transition: .5s ease
}

.redbug .media-icons a {
	color: red;
	font-size: 1.6em;
	transition: .3s ease
}

.redbug .media-icons a:not(:last-child) {
	margin-bottom: 20px
}

.redbug .media-icons a:hover {
	transform: scale(1.3)
}

.redbug video {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover
}

.slider-navigation {
	z-index: 888;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateY(80px);
	margin-bottom: 12px
}

.slider-navigation .nav-btn {
	width: 12px;
	height: 12px;
	background: #fff;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
	transition: .3s ease
}

.slider-navigation .nav-btn.active {
	background: #9e0c0c
}

.slider-navigation .nav-btn:not(:last-child) {
	margin-right: 20px
}

.slider-navigation .nav-btn:hover {
	transform: scale(1.2)
}

.video-slide {
	position: absolute;
	width: 100%;
	clip-path: circle(0% at 0 50%)
}

.video-slide.active {
	clip-path: circle(150% at 0 50%);
	transition: 2s ease;
	transition-property: clip-path
}

@media (max-width: 1040px) {
	header {
		padding: 12px 20px
	}

	section {
		padding: 100px 20px
	}

	.redbug .media-icons {
		right: 15px
	}

	header .navigation {
		display: none
	}

	header .navigation.active {
		position: fixed;
		width: 100%;
		height: 100vh;
		top: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		background: rgba(1, 1, 1, 0.5)
	}

	header .navigation .navigation-items a {
		color: #222;
		font-size: 1.2em;
		margin: 20px
	}

	header .navigation .navigation-items a:before {
		background: #222;
		height: 5px
	}

	header .navigation.active .navigation-items {
		background: #fff;
		width: 600px;
		max-width: 600px;
		margin: 20px;
		padding: 40px;
		display: flex;
		flex-direction: column;
		align-items: center;
		border-radius: 5px;
		box-shadow: 0 5px 25px #030000
	}

	.menu-btn {
		background: url(images/[CITYPNG.COM]Transparent\ HD\ White\ Menu\ Burger\ Icon\ -\ 4000x4000.png)no-repeat;
		background-size: 30px;
		background-position: center;
		width: 40px;
		height: 40px;
		cursor: pointer;
		transition: .3s ease
	}

	.menu-btn.active {
		z-index: 999;
		background: url(images/pngwing.com-8.png.png)no-repeat;
		background-size: 25px;
		background-position: center;
		transition: .3s ease
	}
}

@media (max-width: 560px) {
	.redbug .content h1 {
		font-size: 3em;
		line-height: 60px
	}
}

.parallax-section {
	z-index: -1;
	clear: both;
	background: url("images/production ID_4907336.mp4");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center center;
	background-size: cover
}

.parallax2 {
	background: linear-gradient(#000, #760505, #000);
	background-size: cover
}

.parallax-section .content,
.top-slider .content-header,
.home-slider {
	margin: 0 auto;
	text-align: center
}

.parallax-section .content-header,
.home-slider .content-header {
	padding: 145px 0 250px
}

.parallax2 .content {
	padding: 100px 0
}

.top-slider .content-header {
	padding: 130px 0
}

.parallax-section .content h2,
.content-header h2,
.parallax-section .content h3,
.content-header h3 {
	color: #fff
}

.parallax-section h2>span,
.parallax-section h3>span,
.content-header h2>span,
.content-header h3>span {
	background: #fff
}

.parallax-section .content h2,
.content-header h2 {
	font-size: 2.5em
}

.parallax-section .content p,
.top-slider .content-header p,
.home-slider .content p {
	width: 70%;
	margin: 0 auto 30px;
	color: #fff
}

.service-box {
	text-align: center;
	color: #fff
}

.services {
	color: #fff;
	text-align: center
}

#services {
	background: linear-gradient(#000, #760505, #000)
}

.service-icon {
	margin-top: 20px;
	padding-top: 1em;
	color: #fff
}

#services .s2 {
	color: #fff
}

.circle-icon {
	display: inline-block;
	font-size: 2em;
	padding: 1.1em 1.15em;
	color: #fff;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: transparent;
	-webkit-box-shadow: 0 0 0 2px #fff;
	-moz-box-shadow: 0 0 0 2px #fff;
	box-shadow: 0 0 0 2px #fff;
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	-o-transition: all .15s linear;
	transition: all .15s linear
}

.service-box:hover .circle-icon {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

.service-entry {
	margin-top: 70px;
	padding: 0 .5em
}

.service-entry h3 {
	color: #fff;
	font-weight: 600
}

.service-entry p {
	margin-bottom: 10px;
	color: #fff
}

.recent-wrap {
	text-align: center;
	background: linear-gradient(#000, #760505, #000);
	color: #fff
}

.recent-work {
	background: #000;
	background: -moz-linear-gradient(left, #000 0%, #9b0f0f 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0%, #000), color-stop(100%, #9b0f0f));
	background: -webkit-linear-gradient(left, #000 0%, #9b0f0f 100%);
	background: -o-linear-gradient(left, #000 0%, #9b0f0f 100%);
	background: -ms-linear-gradient(left, #000 0%, #9b0f0f 100%);
	background: linear-gradient(to right, #000 0%, #9b0f0f 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6578bc', endColorstr='#1abc9c', GradientType=1);
	position: relative;
	margin-bottom: 1em;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}

.portfolio-filter {
	margin: 50px 0 0;
	text-align: center
}

.portfolio-items .mix {
	display: none
}

.filters {
	margin-bottom: 20px
}

.filters .filter {
	display: inline-block;
	margin: 2px;
	padding: .2em 1em;
	font-size: .8em;
	list-style: none;
	cursor: pointer;
	color: #fff;
	border: 2px solid transparent;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}

.filters .filter.active,
.filters .filter:hover {
	border: 2px solid #ff0101;
	color: #fff
}

.recent-work a {
	position: relative;
	display: block
}

.recent-work img {
	width: 100%;
	margin-bottom: -9px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px
}

.recent-work:hover img {
	opacity: .35
}

.overlay {
	position: absolute;
	left: 20px;
	bottom: 20px;
	text-align: left;
	opacity: 0;
	transform: scale(1.3)
}

.overlay h2 a,
.overlay span {
	color: #fff
}

.overlay h2 {
	margin: 10px 0;
	font-size: 1.2em
}

.recent-work:hover .overlay {
	opacity: 1;
	transform: scale(1)
}

.recent-work .work-info {
	margin-top: 23px
}

.work-info h4 {
	margin-bottom: .8em
}

.work2 {
	color: #fff
}

.cl-logo-carousel .item figure {
	max-height: 100px;
	margin: 5px;
	padding: 31px 0
}

.cl-logo-carousel .item figure img {
	display: block;
	width: 70%;
	margin: 0 auto
}

.cl-logo-carousel.owl-theme .owl-controls .owl-page span,
.header-carousel.owl-theme .owl-controls .owl-page span,
.cl-client-carousel.owl-theme .owl-controls .owl-page span {
	display: block;
	width: 11px;
	height: 11px;
	margin: 5px 7px;
	border: 2px solid #ccc;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #bfbfbf;
	background-color: transparent;
	transition: all .13s linear
}

.header-carousel.owl-theme .owl-controls .owl-page.active span,
.header-carousel.owl-theme .owl-controls.clickable .owl-page span:hover,
.cl-logo-carousel.owl-theme .owl-controls .owl-page.active span,
.cl-logo-carousel.owl-theme .owl-controls.clickable .owl-page:hover span,
.cl-client-carousel.owl-theme .owl-controls .owl-page.active span,
.cl-client-carousel.owl-theme .owl-controls.clickable .owl-page:hover span {
	border-color: transparent;
	background-color: #940000;
	box-shadow: 0 0 0 3px #940000
}

.header-carousel .owl-pagination,
.header-carousel .owl-buttons {
	position: absolute
}

.header-carousel .owl-pagination {
	bottom: 95px;
	left: 50%;
	width: 200px;
	margin-left: -100px;
	text-align: center
}

.header-carousel .owl-buttons {
	top: 300px;
	width: 100%
}

.header-carousel .owl-buttons .owl-prev,
.header-carousel .owl-buttons .owl-next {
	width: 8px;
	height: 22px;
	text-indent: -9999px;
	background: url(images/arrows.png) no-repeat
}

.header-carousel .owl-buttons .owl-prev {
	background-position: 0 -22px;
	margin-left: 40px;
	float: left
}

.header-carousel .owl-buttons .owl-next {
	margin-right: 40px;
	float: right
}

.quotes-icon {
	color: #810808;
	font-size: 4em;
	line-height: 1;
	margin-bottom: 27px;
	vertical-align: top
}

.cl-client-carousel .client-carousel-item h4 {
	font-style: italic;
	color: #b40808
}

.cl-client-carousel .client-carousel-item p {
	line-height: 1.8em;
	width: 80%;
	margin: 10px auto
}

.cl-client-carousel {
	background: #000;
	box-sizing: border-box;
	border-radius: 100%;
	box-shadow: #000;
	color: #fff
}

.cl-client-carousel.owl-theme .owl-controls .owl-page span {
	display: block;
	margin: 5px 7px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	background: #fff
}

.blog-post-wrap,
.blog-wrap-single {
	padding-top: 3em;
	text-align: center
}

#blog {
	background: linear-gradient(#000, #760505, #000);
	color: #fff
}

.blog-grid .content {
	text-align: center
}

.blogr {
	color: #fff
}

.post-wrap {
	position: relative;
	overflow: hidden;
	margin: 0 auto 2em;
	background: #000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px
}

.post-wrap img {
	width: 100%
}

.post-wrap .post-meta {
	font-size: .8em;
	margin-bottom: 1.5em
}

.post-wrap .post-meta li {
	display: inline-block
}

.post-wrap .post-meta li a {
	margin: 0 20px 0 4px
}

.post-wrap .post-meta li:last-child a {
	margin-right: 0
}

.post-wrap .post-meta i {
	color: #910e0e
}

.post-wrap .post {
	padding: .2em 2em
}

.post-wrap .entry-title {
	margin: 1em 0 .5em
}

.post-wrap .post p {
	text-align: left;
	line-height: 2em
}

.post-wrap .post p a {
	padding: 1px 1px 4px;
	border-radius: 3px
}

.post-wrap .post p a:hover {
	background: #fff;
	color: #8c0808
}

.single {
	width: 70%;
	text-align: center
}

.single .post-img {
	overflow: hidden;
	height: auto;
	max-height: 450px
}

.blog-grid .post-wrap .post {
	padding: 0 1.2em .3em
}

.blog-grid .post-img {
	position: relative;
	overflow: hidden;
	width: 100%
}

.blog-grid .post-wrap .entry-title {
	font-size: 1.2em;
	margin-top: 1em
}

.post-wrap2 {
	position: relative;
	overflow: hidden;
	margin-top: -1228px;
	background: #000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px
}

.post-wrap2 img {
	width: 100%
}

.post-wrap2 .post-meta2 {
	font-size: .8em;
	margin-bottom: 1.5em
}

.post-wrap2 .post-meta2 li {
	display: inline-block
}

.post-wrap2 .post-meta2 li a {
	margin: 0 20px 0 4px
}

.post-wrap2 .post-meta2 li:last-child a {
	margin-right: 0
}

.post-wrap2 .post-meta2 i {
	color: #910e0e
}

.post-wrap2 .post2 {
	padding: .2em 2em
}

.post-wrap2 .entry-title2 {
	margin: 1em 0 .5em
}

.post-wrap2 .post2 p {
	text-align: left;
	line-height: 2em
}

.post-wrap2 .post2 p a {
	padding: 1px 1px 4px;
	border-radius: 3px
}

.post-wrap2 .post2 p a:hover {
	background: #fff;
	color: #8c0808
}

.single {
	width: 70%;
	text-align: center
}

.single .post-img {
	overflow: hidden;
	height: auto;
	max-height: 450px
}

.blog-grid .post-wrap2 .post2 {
	padding: 0 1.2em .3em
}

.blog-grid .post-img2 {
	position: relative;
	overflow: hidden;
	width: 100%
}

.blog-grid .post-wrap2 .entry-title2 {
	font-size: 1.2em;
	margin-top: 1em
}

#plans,
#plans ul,
#plans ul li {
	margin: 0;
	padding: 0;
	list-style: none
}

#pricing {
	background: linear-gradient(#000, #760505, #000)
}

#plans .title h2 {
	color: #fff
}

#price-tables:after {
	display: table;
	clear: both;
	content: '';
	background: #831111
}

.pt {
	margin-top: -100px
}

#price-tables h2 {
	color: #fff
}

#price-tables {
	max-width: 69em;
	margin: 0 auto;
	text-align: center
}

#price-tables #plans .plan {
	float: left;
	width: 100%;
	margin: 0 0 20px;
	text-align: center;
	border: 3px solid #dee3e4;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border-color: #000;
	background: linear-gradient(#6b056b, #6e0606, #050569)
}

#price-tables #plans .best-plan {
	background: linear-gradient(#8f0a0a, purple)
}

.plan-wrap .title h2 {
	font-size: 1.6em;
	font-weight: 300;
	margin: 0;
	padding: .6em 0;
	color: #fff;
	background: #48057c;
	border-radius: 3%
}

.plan-wrap .title h2.best-plan-title {
	color: #000;
	border-bottom: none;
	-webkit-border-radius: 2px 2px 0 0;
	-moz-border-radius: 2px 2px 0 0;
	border-radius: 2px 2px 0 0;
	background: #000
}

.plan-wrap .title h2.best-plan-title,
.plan-wrap .price p.best-plan-price,
.plan-wrap .btn-best-plan {
	color: #fff
}

.plan-wrap .price p {
	font-size: 1.2em;
	font-weight: 700;
	line-height: 120px;
	width: 120px;
	height: 120px;
	margin: 1.5em auto;
	color: #fff;
	border: 2px solid#ffffff;
	-webkit-border-radius: 60px;
	-moz-border-radius: 60px;
	border-radius: 60px;
	background: #000
}

.plan-wrap:hover .price p {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1)
}

.plan-wrap .price p.best-plan-price {
	border-color: #000;
	background: #fff;
	color: #000
}

.plan-wrap .price p span {
	color: #000
}

.plan-wrap .options {
	margin-top: 10em
}

.plan-wrap .options li {
	font-weight: 700;
	line-height: 2.5;
	color: #fff
}

.plan-wrap .options li span {
	font-weight: 400;
	color: #fff
}

.plan-wrap .button {
	display: inline-block;
	width: 80%;
	margin: 1.5em 0 1.8em;
	padding: 1.1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

#price-tables {
	margin: 2em auto;
	width: 100%;
	padding: 50px
}

#price-tables #plans .plan {
	width: 24%;
	margin: 1.2em 1.33% 20px 0
}

#price-tables #plans>li:last-child {
	margin-right: 0
}

#price-tables #plans .best-plan {
	border-color: #000
}

.plan-wrap .btn-best-plan {
	background: #000;
	transition: .5s
}

.plan-wrap .btn-best-plan:hover {
	background: #831111;
	color: #fff
}

.info-counter-icon {
	font-size: 4em;
	color: #ff0303;
	font-weight: 400
}

.info-counter-content,
.info-counter-content h5 {
	color: #fff;
	font-size: 1.2em;
	font-weight: 400
}

.info-counter-text {
	opacity: .7;
	font-size: .8em;
	font-weight: 400
}

.map {
	width: 100%;
	height: 700px;
	overflow: hidden
}

.talking4 {
	margin-top: auto;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: 520;
	color: #000
}

#google-container {
	position: relative;
	width: 100%;
	height: 500px;
	background-color: #e7eaf0
}

#cd-google-map {
	position: relative
}

#cd-zoom-in,
#cd-zoom-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 60px;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url(images/cd-icon-controller.svg)
}

#cd-zoom-in:hover,
#cd-zoom-out:hover {
	background-color: #860909
}

#cd-zoom-in {
	border-radius: 32px 32px 0 0;
	margin-top: 150px;
	background-position: 50% 0
}

#cd-zoom-out {
	border-radius: 0 0 32px 32px;
	background-position: 50% -32px
}

#cd-rubberBand-in,
#cd-rubberBand-out {
	height: 32px;
	width: 32px;
	cursor: pointer;
	margin-left: 60px;
	background-color: #000;
	background-repeat: no-repeat;
	background-size: 32px 64px;
	background-image: url(s3-us-west-2.amazonaws.com/s.cdpn.io/148866/cd-icon-controller.svg)
}

#cd-rubberBand-in:hover,
#cd-rubberBand-out:hover {
	background-color: #bc1a1a
}

#cd-rubberBand-in {
	border-radius: 32px 32px 0 0;
	margin-top: 150px;
	background-position: 50% 0
}

#cd-rubberBand-out {
	border-radius: 0 0 32px 32px;
	background-position: 50% -32px
}

#contact {
	background: url(images/2413551.webp);
	background-size: cover
}

.contact {
	padding-top: 30px;
	color: #fff
}

.contact h2 {
	text-align: center;
	margin-top: 20px
}

.contact .address h3 {
	margin-top: 130px;
	color: #fff
}

address {
	margin-top: 3em
}

.talking4 {
	color: #fff;
	align-content: left
}

address div {
	position: relative;
	margin-top: 20px
}

address i {
	position: absolute;
	top: 2px;
	left: 0
}

.address span {
	line-height: 1.1;
	margin-bottom: 3px;
	color: #fff;
	font-size: 1.125em;
	font-family: 'Montserrat', Helvetica, Arial, sans-serif
}

.phone {
	line-height: 30px
}

.box-icon {
	border-right: 2px solid #7d7878;
	float: left;
	font-size: 1.4em;
	height: 45px;
	line-height: 40px;
	margin: 0 20px 0 0;
	width: 40px
}

.box-icon i {
	line-height: 45px;
	color: #a01616
}

.comments,
.form {
	padding: 0 3em
}

.leave-comment {
	width: 80%;
	margin: 0 auto
}

.contact-form .form {
	padding: 0
}

.comments {
	margin: 0 0 1em;
	text-align: left
}

ul.nested-comments ul li {
	margin: 1em 3em
}

.comment p {
	margin-left: 76px
}

.comment {
	margin-bottom: 1em;
	padding: 1em 0
}

.comment-avatar {
	float: left;
	width: 60px;
	height: auto;
	margin-right: 1em
}

.comment-meta span {
	font-size: .8em;
	color: #740d0d
}

.comment-meta .mid-sep {
	padding: 0 2px
}

.avatar {
	width: 60px;
	height: 60px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px
}

input:not([type=submit]):not([type=file]),
textarea {
	width: 100% !important;
	height: 50px;
	margin-bottom: 25px;
	padding: 0 15px 2px;
	border: 2px solid #ebebeb;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	background: #fff;
	box-shadow: 0 0 0 2px transparent;
	-webkit-transition: box-shadow .3s;
	transition: box-shadow .3s
}

input:not([type=submit]):not([type=file]):focus,
textarea:focus {
	border-color: #a40a0a;
	outline: none
}

textarea {
	max-width: 100%;
	min-height: 150px;
	padding: 15px
}

.submit {
	font-size: 1.1em;
	position: relative;
	width: 190px;
	height: 45px;
	margin-bottom: 2em;
	padding: 0;
	cursor: pointer;
	vertical-align: top;
	border: 0;
	float: right
}

.submit:active {
	outline: none
}

.leave-comment {
	margin-top: 3em
}

input:not([type=submit]):not([type=file]):focus,
textarea:focus {
	-webkit-animation: rubberBand .5s 1;
	-moz-animation: rubberBand .5s 1;
	-o-animation: rubberBand .5s 1;
	animation: rubberBand .5s 1
}

footer {
	background: url(images/laptop-abstract-4k-0k.jpg)
}

footer .grid {
	padding-top: 6em
}

footer h3 {
	color: #fff
}

footer p,
footer a {
	color: #f4f4f4
}

.footer-widget li {
	position: relative;
	padding: .6em 0;
	color: #fffafa;
	list-style-type: disc
}

.footer-widget li:first-child {
	padding-top: 0;
	border-top: 0
}

.footer-widget ul {
	margin-left: 20px
}

.footer-widget .flickr-list {
	margin-left: 0
}

.flickr-list li {
	position: relative;
	display: inline-block;
	margin: 0 3px 3px 0;
	padding: 0;
	border: 0
}

.flickr-list li:before {
	content: '' !important;
	border: none
}

.flickr-list li a {
	display: block
}

.flickr-list li img {
	width: 70px;
	height: 70px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px
}

.social-set {
	width: 100%;
	margin: 0 0 .5em;
	padding: 0 0 1em;
	text-align: center
}

.social-set a {
	font-size: 1.5em;
	margin-right: .5em;
	padding: 1em
}

.copyright {
	text-align: center
}

.team-wrap {
	text-align: center;
	background: linear-gradient(#000, #760505, #000)
}

.staff-content {
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background: #fff
}

.staff-info {
	padding: 0 10px
}

.staff-info span {
	color: #a12110
}

.staff-img {
	position: relative;
	display: table;
	margin: 0 auto;
	background: #fff;
	position: relative;
	display: table;
	width: 100%
}

.staff-img img {
	width: 100%;
	border-radius: 5px 5px 0 0
}

.staff-img:hover img {
	opacity: 1
}

.staff-content h5 {
	margin-bottom: .5em
}

.staff-content span {
	display: inline-block;
	margin-bottom: 10px
}

.team-social {
	margin: 0 auto;
	position: absolute;
	left: 0;
	bottom: -10px;
	background: #fff;
	width: 100%;
	opacity: 0;
	padding: 7px 0;
	height: 50px;
	transition: .1s linear;
	transform: translateY(10px)
}

.team-social a {
	display: inline-block;
	padding: 0 7px
}

.team-social a i {
	font-size: 1.5em;
	display: table;
	padding: 8px;
	color: #000
}

.sl-fb i:hover {
	color: #951769
}

.sl-tw i:hover {
	color: #1b71ab
}

.sl-gp i:hover {
	color: #9f1010
}

.sl-ln i:hover {
	color: #13518c
}

.staff-content:hover .team-social {
	opacity: 1;
	transform: translateY(0)
}

.teams20 {
	color: #fff
}

.loader-overlay {
	width: 100%;
	height: 100%;
	background: #ECF0F1;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999
}

.loader {
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -75px;
	position: absolute;
	top: 50%;
	width: 150px
}

.loader .bar {
	background-color: #800f0f;
	font-size: 0;
	height: 6px;
	border-radius: 3px;
	opacity: 0;
	width: 25px;
	-webkit-animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-name: subtleIn;
	-webkit-animation-timing-function: ease-in-out;
	display: inline-block
}

.loader .bar:nth-child(1) {
	-webkit-animation-delay: 0
}

.loader .bar:nth-child(2) {
	background-color: #8c1010;
	-webkit-animation-delay: .3s
}

.loader .bar:nth-child(3) {
	background-color: #831111;
	-webkit-animation-delay: .6s
}

.loader .bar:nth-child(4) {
	background-color: #000;
	-webkit-animation-delay: .9s
}

.loader .bar:nth-child(5) {
	background-color: #000;
	-webkit-animation-delay: 1.2s
}

@-webkit-keyframes subtleIn {
	0% {
		opacity: 0;
		-webkit-transform: translateY(300%);
		transform: translateY(300%)
	}

	30% {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0)
	}
}

@media handheld,
only screen and (max-width: 1200px) {
	#top-header {
		padding: 15px 20px
	}

	#price-tables #plans .plan {
		width: 49%;
		margin: 0 2% 20px 0
	}

	#price-tables #plans>li:nth-child(2n) {
		margin-right: 0 !important
	}

	.team-social {
		height: 30px
	}

	.team-social a i {
		font-size: 1em;
		padding: 3px
	}
}

@media handheld,
only screen and (max-width: 767px) {
	#top-header {
		position: absolute;
		padding: 8px 0
	}

	.logo-wrap {
		float: left;
		width: 100%;
		margin-bottom: .5em
	}

	#top-header .col-1-1 {
		margin: 0
	}

	.navigation ul {
		display: none;
		height: 100%
	}

	.navigation {
		float: none
	}

	.navigation li {
		width: 100%
	}

	.navigation a {
		margin-left: 0;
		width: 100% !important;
		display: block
	}

	.navigation label {
		position: absolute;
		display: block;
		right: 0;
		top: 7px;
		color: #fff;
		min-height: 2.25em;
		padding: .45em;
		font-size: 1.1em;
		margin: 0
	}

	.navigation label:after {
		position: absolute;
		right: .25em;
		top: 0;
		content: "\2261";
		font-size: 1.8em
	}

	.navigation input[type=checkbox]:checked~label:after {
		color: #fff
	}

	.navigation input[type=checkbox]:checked~ul {
		display: block
	}

	.navigation input[type=checkbox]:checked~ul>li {
		width: 100%;
		text-align: left;
		padding: .8em 0
	}

	.navigation .sub-menu {
		position: relative;
		top: 0;
		left: 0;
		visibility: visible;
		opacity: 1;
		display: block;
		border: none;
		box-shadow: none;
		width: 100%
	}

	.service-entry {
		margin-bottom: 2.5em
	}

	#page-sidebar-grid .post-wrap {
		width: 100%
	}

	.isotope-item {
		width: 100%
	}

	.single {
		width: 100%
	}

	.overlay i {
		padding: 145px 0
	}

	.parallax-section .content h2,
	.content-header h2 {
		font-size: 2em
	}

	#price-tables #plans .plan {
		width: 100%;
		margin: 0 2% 20px 0
	}

	#price-tables #plans>li:nth-child(2n) {
		margin-right: 0
	}
}

@media handheld,
only screen and (max-width: 480px) {
	.header-carousel {
		height: 620px
	}

	.social-set a {
		padding: 0 !important
	}

	#page-sidebar-no-sidebar .post-wrap .post {
		padding: 1em !important
	}

	.post-wrap .post-meta li a {
		margin: 0;
		width: 100%;
		padding: 6px
	}

	.comments,
	#leave-comment {
		padding: .6em 1.7em
	}

	ul.nested-comments li {
		margin: 0 1em
	}

	ul.nested-comments ul li {
		margin: 0
	}

	#page-sidebar-no-sidebar .post-wrap {
		width: 100%
	}

	.parallax-section .content p,
	.top-slider .content-header p {
		width: 100%
	}

	.parallax-section .wrap {
		padding: 0
	}

	.parallax-section .content h2,
	.content-header h2 {
		font-size: 1.2em
	}

	.parallax-section .content p,
	.top-slider .content-header p,
	.home-slider .content p {
		font-size: .8em;
		margin: 0 auto 10px;
		line-height: 18px
	}

	.team-social {
		height: 50px;
		opacity: 1
	}

	.team-social a i {
		font-size: 1.5em;
		padding: 8px
	}
}